/* add css styles here (optional) */
.stories{
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.row {
  display: flex;
  align-items: center;
}
.label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
}
.spacer{
  margin-left: 24px;
}
