.stories{
  display: flex;
  flex-direction: column;
  padding: 24px;
  --antd-wave-shadow-color: '#ffffff',
}
.row {
  display: flex;
  align-items: center;
}
.label {
  font-size: 14px;
  font-weight: bold;
  width: 104px;
  line-height: 48px;
}
.spacer {
  width: 16px;
}
