.path-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
}

.path-slider-tooltip * {
  box-sizing: border-box;
}

.path-slider-tooltip-hidden {
  display: none;
}

.path-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}

.path-slider-tooltip-inner {
  padding: 6px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  min-height: unset;
  text-align: center;
  text-decoration: none;
  background-color: #333333;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
  white-space: nowrap;
}

.path-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.path-slider-tooltip-placement-top .path-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #333333;
}
